{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}



{% block content %}
  <div class='signupform'>
    <h5 class="site-title">Please complete the form below to Join the SLAA and <br> recieve payment informatin for your annual dues.<br>Thank You For Your Support!. <h5>
  <form method="post" novalidate>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}<br>

        {% if form.is_bound %}
          {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {% render_field field class="form-control is-valid" %}
          {% endif %}
        {% else %}
          {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

    {% endfor %}
<br>
    <button type="submit" class="btn btn-primary formbutton">Submit</button>
    </button>

  </form>

</div>
  <h3 class="section-title">
  </h3>
{% endblock %}
