{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html data-whatinput="mouse" data-whatintent="mouse" class=" whatinput-types-initial whatinput-types-keyboard whatinput-types-mouse"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Index</title>
  <link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
  <link rel="stylesheet"href="{% static "css/wireframe-theme.min.css" %}">
  <script>document.createElement( "picture" );</script>
  <script class="picturefill" async="async" src="{% static "js/picturefill.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,b">
<meta class="foundation-mq"></head>

<body class="" cz-shortcut-listen="true">
  <h1 class="site-title">Visions</h1>
  <div class="container nav-wrapper">
    <a class="link-text nav-button" href="{% url 'index' %}">Home</a>
    <a class="link-text nav-button" href="{% url 'signupform' %}">Sign Up</a>
    <a class="link-text nav-button" href="#">Contact us</a>
  </div>
  <div class="container hero-section">
    <div class="responsive-picture">
      <picture><img alt="Placeholder Picture" src="https://picsum.photos/200/300?image=857">
      </picture>
    </div>
  </div>
  <h3 class="section-title">TRAVEL NEW HORIZONS<br>
  </h3>
  <div class="container services-grid">
    <div class="container service">
      <div class="responsive-picture">
        <picture><img alt="Placeholder Picture" src="https://picsum.photos/200/300?image=855">
        </picture>
      </div>
      <h5 class="service-title">Discover.</h5>
    </div>
    <div class="container service">
      <div class="responsive-picture">
        <picture><img alt="Placeholder Picture" src="https://picsum.photos/200/300?image=856">
        </picture>
      </div>
      <h5 class="service-title">Exquisite.<br>
      </h5>
    </div>
    <div class="container service">
      <div class="responsive-picture">
        <picture><img alt="Placeholder Picture" src="https://picsum.photos/200/300?image=857">
        </picture>
      </div>
      <h5 class="service-title">Places.<br>
      </h5>
    </div>
  </div>
  <div class="container container-1">
    <p class="paragraph paragraph-1">Travel with us and you will <strong>not believe</strong> what you see. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nibh risus, sagittis nec suscipit nec, mollis laoreet eros. <strong>Donec faucibus</strong>, libero id faucibus scelerisque, justo justo nullam sodales.<br>
    </p><a class="link-button action-btn button" href="#">Book Today</a>
  </div>
  <div class="container footer">
    <div class="rule">
      <hr>
    </div>
    <div class="container footer-nav">
      <a class="link-text footer-nav" href="#">About us</a>
      <a class="link-text footer-nav" href="#">Made with CSS Grid Builder</a>
      <a class="link-text footer-nav" href="#">Check this out</a>
    </div>
  </div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/outofview.js' %}"></script>
  <script src="{% static 'js/what-input.min.js' %}"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  <script>$(document).foundation();</script>


</body></html>
